.book-form-container {
  max-width: 500px;
  margin: 40px auto;
  padding: 30px;
  background: linear-gradient(-2deg, #a0fc79c7, #e696e284);
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.book-form-container h2 {
  font-size: 30px;
  margin-bottom: 25px;
  color: #1a1a1a;
  font-weight: bold;
}

.book-form input,
.book-form select {
  width: 85%;
  padding: 12px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #360909;
  transition: 0.3s;
}

.book-form input:focus,
.book-form select:focus {
  border-color: #4caf50;
  outline: none;
  box-shadow: 0 0 6px rgba(76, 175, 80, 0.3);
}

.modern-date {
  background-color: #fff;
  color: #333;
  font-weight: 500;
}

.small-select {
  width: 50%;
  margin: 0 auto 20px;
  display: block;
}

.services-group label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

.checkbox-button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.checkbox-button {
  border: 2px solid #3f51b5;
  background-color: #f5faff;
  color: #0c0c0c;
  padding: 8px 15px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  user-select: none;
  position: relative;
}

.checkbox-button input[type="checkbox"] {
  display: none;
}

.checkbox-button.checked {
  background-color: #3f51b5;
  color: white;
  border-color: #2c3e90;
}

.checkbox-button:hover {
  background-color: #e96c05;
}

/* Book Button */
.submit-small {
  width: 100px;
  margin-top:20px;
  padding: 10px;
  background-color: #009688;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.submit-small:hover {
  background-color: #00796b;
}

@media (max-width: 576px) {
  .book-form-container {
    padding: 20px;
  }

  .book-form input,
  .book-form select {
    font-size: 15px;
    padding: 10px;
  }

  .submit-small {
    font-size: 15px;
    padding: 8px;
  }

  .small-select {
    width: 100%;
  }
}